section{
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 35rem;
    padding: 0%;
    text-align: center;
    color: white;
}

section h2{
    font-size: 3rem;
    margin: auto;
    margin-top: 0;
    padding-top: 14rem;
    padding-bottom: 1rem;
}

@media only screen
and (max-width: 800px) {
    section h2{
        font-size: 2rem;
    }
}

.tags{
    padding: 0.5rem;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
}

main{
    align-items: center;
    position: relative;
    text-align: justify;
    margin: 2rem auto;
    padding: 0 5rem;
    font-size: medium;
}

section address{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

section a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section a:hover,
section a:active{
    color: blue
}

#comment-box,
.comments{
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    box-shadow: 2px 4px 8px #895c6f;
    border-radius: 2rem;
    height: auto;
    background-color: rgba(254, 219, 219, 0.283);
    padding-top: 2px;
    padding-left: 2rem;
    padding-bottom: 2rem;
    font: inherit;
}

#comment-box h3{
    color: #895c6f;
    font-weight: 3rem;
}

.comment-form{
    margin-top: 1.2rem;
    padding: 0.25rem;
}

.comment-form label{
    color: #895c6f;
    font-weight: bold;
    display: block;
}

.comment-form input, 
.comment-form textarea{
    text-decoration: none;
    width: auto;
    border-radius: 10px;
    border-width: 2px;
    font: inherit;
    display: block;
    border-color: rgba(161, 140, 140, 0.363);
}

#comment-box button{
    margin-top: 0.5rem;
    padding: 0.25rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1rem;  
    background-color: rgba(161, 93, 93, 0.897); 
    border-color: rgba(161, 93, 93, 0.897);
    color: white;
    cursor: pointer;
    box-shadow: #35242b;
    font-weight: bolder;
    font-size: medium;
}

#comment-box button:hover,
#comment-box button:active{
    background-color: rgba(189, 121, 121, 0.897);
    border-color: rgba(189, 121, 121, 0.897);
}

.errorlist{
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: rgb(188, 4, 4);
}

.errors{
    background-color: rgba(194, 170, 170, 0.783);
    padding: 2px;
    width: 70%;
    max-width: 50%;
    margin: 2rem auto;
    color: black;
    border: 2px solid rgb(183, 77, 77);
}

.errors h2{
    font-size: larger;
    padding-top: 4px;
    padding-bottom: 1px;
}

.errors p a{
    text-decoration: underline;
    color: rgb(183, 77, 77);
}

.errors p a:hover,
.errors p a:active{
    color: black;
}

.invalid label{
    color: rgb(188, 4, 4);
}

.invalid input,
.invalid textarea{
    background-color: rgba(194, 170, 170, 0.411);
    border-color: rgb(183, 77, 77);
}

.comments{
    max-width: 60%;
}

.comments h2{
    padding-bottom: 1rem;
    color: #895c6f;
    font-weight: 3rem;
}

.comments ul{
    max-width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments li{
    border-bottom: 2px solid #895c6f;
    width: 100%;
}

.comments li:last-of-type{
    border-bottom: none;
}

.comments li{
    color:#b97b95;
}

.comments li h3{
    color:#895c6f;
}

[initials]:before{
    content:attr(initials);
    display:inline-block;
    font-size:1em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    text-align:center;
    border-radius:50%;
    background-color: var(--random-color);
    vertical-align:middle;
    margin-right:1em;
    color:white;
}

.read-later{
    margin: 1rem auto;
    overflow: auto;
    padding: 0 5rem;
}

.read-later h2{
    float: right;
    color: #5c3d4a;
    font-style: inherit;
    font-size: large;
}

.read-later button{
    width: 6rem;
    height: 2.5rem;
    font-size:small;
    border-radius: 18px;
    background-color: rgba(161, 93, 93, 0.897); 
    border-color: rgba(161, 93, 93, 0.897);
    color: white;
    cursor: pointer;
}

.read-later button:hover,
.read-later button:active{
    background-color: rgba(189, 121, 121, 0.897);
    border-color: rgba(189, 121, 121, 0.897);
}
