#heading{
    background-image: url('/static/blog/images/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 35rem;
    padding: 0%;
    margin: auto;
}

#question{
    color: white;
    text-align: center;
}

h2{
    font-size: 3rem;
    margin: auto;
    margin-top: 0;
    padding: auto;
    padding-top: 12rem;
}

#question p{
    font-size: 1.5rem;
    font-weight: normal;
    padding-top: 1rem;
}

.row{
    margin: 0;
    padding: 0;
    text-align: center;
}

.row .about, .row img{
    padding: 2rem;
    margin: 0;
}

.row .about{
    text-align: justify;
    font-size: large;
}

.row img{
    width: 100%;
    height: 100%;
}

@media only screen
  and (min-width: 800px) {
    .row{
        display: flex;
        padding-left: 7rem;
    }

    .row .about{
        max-width: 50%;
    }

    .row .image{
        max-width: 50%;
    } 

  }
