section {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 35rem;
    padding: 0%;
    text-align: center;
}

section h2{
    font-size: 4rem;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.tags{
    padding: 0.5rem;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
}

main{
    position: relative;
    text-align: justify;
}

section{
    color: white;
}

section address{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

section a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section a:hover,
section a:active{
    color: blue
}

main{
    text-align: justify;
    margin: 4rem 16rem 3rem 16rem;
}

