{% extends 'base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/about.css' %}">
{% endblock %}

{% block content %}
<section id="heading">
    <div id="question">
    <h2>About me</h2>
    <p>What do I do?</p>
    </div>
</section>

<div class="row content">
    <div class="column about">
        <p>As the name represents, this is my blog.</p>
        <p>I am Arshdeep Kaur. After two years of work experience in academic content creation, 
        I decided to enhance my skills in python to the higher level. I have built almost 100 python projects. 
        I have built this blog using Django. Other than 5 local applications, I have one more live blog which was built using Flask.</p>
        <p>If you find any of post interesting, then please share your thoughts via comment 
            (Don't forget to register your email address). 
            If you want to take a look at more of my work please visit 
            <a alt="my Github profile link" href="https://github.com/ArshdeepKaurArora">my github profile</a></p>
        <p>I am currently looking for a full time job as a python developer. 
            If you find my work interesting and you have an open position in your company, I will be very thankful to be a part of the same. 
            To connect with me, please visit my contact webpage. Thank you!</p>
        </div>
    <div class="column image">
        <img src="{% static "blog/images/me.jpg" %}">
    </div>
</div>
{% endblock %}