{% extends 'base.html' %}
{% load static %}

{% block title %}
Posts
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/include/header.css' %}">
<link rel="stylesheet" href="{% static 'blog/all_posts.css' %}">
<link rel="stylesheet" href="{% static 'blog/include/post.css' %}">
{% endblock %}

{% block content %}
    <div class='heading'>
        {% include 'blog/include/header.html' %}
        <h2>My Collection</h2>
        <h3>Every post is a new world!</h3>
    </div>
    <div class='post_list'>
        <ul>
            {% for post in posts %}
                {% include 'blog/include/post.html' %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}